{% extends "index.html" %}


{% block content %}

<div style="padding-left:0.5rem;">

    <div class="">
      <div><h2>Production Operations</h2></div>
    
      <ul class="nav nav-tabs" id="tab-prod-list" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="btn-prod-gestating-sow" data-bs-toggle="tab" data-bs-target="#tab-prod-gestating-sow" type="button" role="tab" aria-controls="tab-prod-gestating-sow" aria-selected="false">Gestating Sow</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-lactating-piglets" data-bs-toggle="tab" data-bs-target="#tab-prod-lactating-piglets" type="button" role="tab" aria-controls="tab-prod-lactating-piglets" aria-selected="false">Lactating Piglets</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-lactating-sow" data-bs-toggle="tab" data-bs-target="#tab-prod-lactating-sow" type="button" role="tab" aria-controls="tab-prod-lactating-sow" aria-selected="false">Lactating Sow</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-change-feed-dates" data-bs-toggle="tab" data-bs-target="#tab-prod-change-feed-dates" type="button" role="tab" aria-controls="tab-prod-change-feed-dates" aria-selected="false">Change Feed Dates</button>
        </li>
      </ul>

      <div class="tab-content " id="myTabContent">

        <div class="tab-pane fade show active" id="tab-prod-gestating-sow" style= "min-height:400px;" role="tabpanel" aria-labelledby="btn-prod-gestating-sow">
          <h3 class="mb-3">Production Gestating Sow List</h3>
          <p class="lead">This is a list of activities to be performed on a gestating sow in every production cycle.<br>
            Every new production entry will create these operations and send alerts as the number of days 
            from gestation is reached. </p>
          
          <div id = "div-prod-gestating-sow-ops">
            <div id = "div-top-gestating-sow-ops"></div>
            <div id = "div-list-gestating-sow-ops" class ="auto-table"></div>
          </div>

        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-lactating-piglets" role="tabpanel" aria-labelledby="btn-prod-lactating-piglets">
          <h3 class="mb-3">Lactating Piglets Operations List</h3>
          <p class="lead">This is a list of activities to be performed on a lactating piglets in every production cycle.</p>
          
          <div id = "div-prod-lactating-piglets" class = "">
            <div id = "div-top-lactating-piglets-ops"></div>
            <div id = "div-list-lactating-piglets-ops" class ="auto-table "></div>
          </div>
          
        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-lactating-sow" role="tabpanel" aria-labelledby="btn-prod-lactating-sow">
          <h3 class="mb-3">Lactating Sow Operations List</h3>
          <p class="lead">This is a list of activities to be performed on a lactating sow in every production cycle. <br>
            Every new production entry will create these operations and send alerts as the number of days 
            from piglets birth is reached.</p>
        
          <div id = "div-prod-lactating-sow" class = "">
            <div id = "div-top-lactating-sow-ops"></div>
            <div id = "div-list-lactating-sow-ops" class ="auto-table "></div>
          </div>
          
        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-change-feed-dates" role="tabpanel" aria-labelledby="btn-prod-change-feed-dates">
          <h3 class="mb-3">Lactating Piglets Operations</h3>
          <p class="lead">This is the record of change feed dates of each production entry.</p>
          
          <div id = "div-prod-change-feed-dates" class = "">
            <div id = "div-top-change-feed-dates"></div>
            <div id = "div-list-change-feed-dates" class ="auto-table "></div>
          </div>
          
        </div>
      </div>

    </div>
    
    
    
    <br>
    
    <div id = "div-container-prod-details"></div>
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    
    
    <!-- Modal -->
	<div id="div-container-add-entry-prod-gestating"></div>
    
    <div id="div-container-update-entry-prod-gestating-insem"></div>
    <div id="div-container-update-entry-prod-gestating-birth"></div>
    <div id="div-container-update-entry-prod-gestating-ops"></div>
    <div id="div-container-update-entry-prod-gestating-status"></div>
    
    
	<div id="div-container-update-entry-prod-lactating-wean"></div>
    <div id="div-container-update-entry-prod-lactating-piglets-ops"></div>
    <div id="div-container-update-entry-prod-lactating-sow-ops"></div>

    <div id="div-container-add-entry-notes"></div>
    <div id="div-container-add-entry-feed-buy"></div>
    <div id="div-container-add-entry-feed-balance"></div>
    <div id="div-container-add-entry-pig-dead"></div>
    
	
	<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index:3000;">
	  <div id="myConfirmationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
		<div class="toast-header">
		  <strong class="me-auto">Confirmation</strong>
		  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
		  Are you sure you want to proceed?
		  <div class="mt-2 pt-2 border-top">
			<button type="button" class="btn btn-primary btn-sm" id="yesButton">Yes</button>
			<button type="button" class="btn btn-secondary btn-sm" id="noButton" data-bs-dismiss="toast">No</button>
		  </div>
		</div>
	  </div>
	</div>
	
    <script type="text/javascript">
    $(document).ready(function(){
        var PAGE_DATA = {{page_data}};

        gPagePigProduction.setPageData(PAGE_DATA);
    });
    </script>

    
</div>

{% endblock %}