{% extends "index.html" %}


{% block content %}

<div style="padding-left:0.5rem;">

    <div class="">
      <div><h2>Production Operations</h2></div>
    
      <ul class="nav nav-tabs" id="tab-prod-list" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="btn-prod-gestating-sow" data-bs-toggle="tab" data-bs-target="#tab-prod-gestating-sow" type="button" role="tab" aria-controls="tab-prod-gestating-sow" aria-selected="false">Gestating Sow</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-lactating-piglets" data-bs-toggle="tab" data-bs-target="#tab-prod-lactating-piglets" type="button" role="tab" aria-controls="tab-prod-lactating-piglets" aria-selected="false">Lactating Piglets</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-lactating-sow" data-bs-toggle="tab" data-bs-target="#tab-prod-lactating-sow" type="button" role="tab" aria-controls="tab-prod-lactating-sow" aria-selected="false">Lactating Sow</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-change-feed-dates" data-bs-toggle="tab" data-bs-target="#tab-prod-change-feed-dates" type="button" role="tab" aria-controls="tab-prod-change-feed-dates" aria-selected="false">Change Feed Dates</button>
        </li>
      </ul>

      <div class="tab-content " id="myTabContent">

        <div class="tab-pane fade show active" id="tab-prod-gestating-sow" style= "min-height:400px;" role="tabpanel" aria-labelledby="btn-prod-gestating-sow">
          <h3 class="mb-3">Production Gestating Sow List</h3>
          <p class="lead">This is a list of activities to be performed on a gestating sow in every production cycle.<br>
            Every new production entry will create these operations and send alerts as the number of days 
            from gestation is reached. </p>
          
          <div id = "div-prod-gestating-sow-ops">
            <div id = "div-top-gestating-sow-ops"></div>
            <div id = "div-list-gestating-sow-ops" class ="auto-table"></div>
          </div>

        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-lactating-piglets" role="tabpanel" aria-labelledby="btn-prod-lactating-piglets">
          <h3 class="mb-3">Lactating Piglets Operations List</h3>
          <p class="lead">This is a list of activities to be performed on a lactating piglets in every production cycle.</p>
          
          <div id = "div-prod-lactating-piglets" class = "">
            <div id = "div-top-lactating-piglets-ops"></div>
            <div id = "div-list-lactating-piglets-ops" class ="auto-table "></div>
          </div>
          
        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-lactating-sow" role="tabpanel" aria-labelledby="btn-prod-lactating-sow">
          <h3 class="mb-3">Lactating Sow Operations List</h3>
          <p class="lead">This is a list of activities to be performed on a lactating sow in every production cycle. <br>
            Every new production entry will create these operations and send alerts as the number of days 
            from piglets birth is reached.</p>
        
          <div id = "div-prod-lactating-sow" class = "">
            <div id = "div-top-lactating-sow-ops"></div>
            <div id = "div-list-lactating-sow-ops" class ="auto-table "></div>
          </div>
          
        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-change-feed-dates" role="tabpanel" aria-labelledby="btn-prod-change-feed-dates">
          <h3 class="mb-3">Lactating Piglets Operations</h3>
          <p class="lead">This is the record of change feed dates of each production entry.</p>
          
          <div id = "div-prod-change-feed-dates" class = "">
            <div id = "div-top-change-feed-dates"></div>
            <div id = "div-list-change-feed-dates" class ="auto-table "></div>
          </div>
          
        </div>
      </div>

    </div>
    
    
    
    <br>
    
    <div id = "div-prod-details" class="" style="display:None;">
      <div><h3>Production Details P_ID: <span id="span-prod-details-pid"></span></h3></div>
      
      <ul class="nav nav-tabs" id="tab-prod-details" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="btn-prod-feed-buy-summary" data-bs-toggle="tab" data-bs-target="#tab-prod-feed-buy-summary" type="button" role="tab" aria-controls="tab-prod-feed-buy-summary" aria-selected="false">Feed Buy Summary</button>
        </li>
        
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-feed-buy" data-bs-toggle="tab" data-bs-target="#tab-prod-feed-buy" type="button" role="tab" aria-controls="tab-prod-feed-buy" aria-selected="false">Feed Buy List</button>
        </li>
        
        <li id = "li-prod-details-feed-balance" class="nav-item" role="presentation" style="display:None">
          <button class="nav-link" id="btn-prod-feed-balance" data-bs-toggle="tab" data-bs-target="#tab-prod-feed-balance" type="button" role="tab" aria-controls="tab-prod-feed-balance" aria-selected="false">Feed Balance</button>
        </li>
        
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="btn-prod-notes" data-bs-toggle="tab" data-bs-target="#tab-prod-notes" type="button" role="tab" aria-controls="tab-prod-notes" aria-selected="false">Notes</button>
        </li>
        
        <li id = "li-prod-details-dead-pigs" class="nav-item" role="presentation" style="display:None">
          <button class="nav-link" id="btn-prod-dead-pigs" data-bs-toggle="tab" data-bs-target="#tab-prod-dead-pigs" type="button" role="tab" aria-controls="tab-prod-dead-pigs" aria-selected="false">Dead Pigs</button>
        </li>
      </ul>
    
      <div class="tab-content mt-3" id="">
        <div class="tab-pane fade show active" id="tab-prod-feed-buy-summary" style= "min-height:400px;" role="tabpanel" aria-labelledby="btn-prod-feed-buy-summary">
          
          <div class="flex-container">
            <div id = "div-prod-feed-buy-summary" style="width:400px;">
              <div id = "div-top-prod-feed-buy-summary"></div>
              <div id = "div-list-prod-feed-buy-summary" class ="auto-table"></div>
            </div>
            
            <div id="">
                <br>
                <br>
                <h3>Total Feed Cost</h3>
                <h1><span id="span-feed-total-cost"></span></h1>
            </div>
          </div>
          
          
        </div>
        

        <div class="tab-pane fade show" id="tab-prod-feed-buy" style= "min-height:400px;" role="tabpanel" aria-labelledby="btn-prod-feed-buy">
          
          <div id = "div-prod-feed-buy">
            <div id = "div-top-prod-feed-buy"></div>
            <div id = "div-list-prod-feed-buy" class ="auto-table"></div>
          </div>
        </div>
        
        <div class="tab-pane fade show" id="tab-prod-feed-balance" style= "min-height:400px;" role="tabpanel" aria-labelledby="btn-prod-feed-balance">
          Feed Balance
          <div id = "div-prod-feed-balance">
            <div id = "div-top-prod-feed-balance"></div>
            <div id = "div-list-prod-feed-balance" class ="auto-table"></div>
          </div>
        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-notes" role="tabpanel" aria-labelledby="btn-prod-notes">
            <div id = "div-prod-notes">
                <div id = "div-top-prod-notes"></div>
                <div id = "div-list-prod-notes" class ="auto-table"></div>
            </div>
          
        </div>
        
        
        <div class="tab-pane fade" id="tab-prod-dead-pigs" role="tabpanel" aria-labelledby="btn-prod-dead-pigs">
            <div id = "div-prod-dead-pigs">
                <div id = "div-top-prod-dead-pigs"></div>
                <div id = "div-list-prod-dead-pigs" class ="auto-table"></div>
            </div>
          
        </div>
        
      </div>
    
    </div>
    
    
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    
    
    <!-- Modal -->
    <div id="div-add-entry-prod-gestating" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="hdr-add-entry-prod-gestating">New Production Gestating Entry</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            
            <div class="mb-3">
                <div>
                    <label for="sel-add-entry-prod-gestating-sow" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Sow">Sow</label>
                    <span class="float-end"><span id = "span-no-entries-sow">No entries yet.&nbsp; </span><a class="link-opacity-100" href="">Add new Sow Entry</a></span>
                </div>
                
                <select class="form-select" aria-label="Select Sow" id = "sel-add-entry-prod-gestating-sow" required>
                  <option value="0" selected>Select Sow</option>
                </select>
                <div class="invalid-feedback">
                    Please select a Sow.
                </div>
                
            </div>
            
            <div class="mb-3" >
                <label for="sel-add-entry-prod-gestating-insem-type" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Insemination Type">Insemination Type</label>
                <select class="form-select" aria-label="Select Insemination Type" id = "sel-add-entry-prod-gestating-insem-type">
                  <option value="1" selected>Boar Coupling</option>
                  <option value="2">Artificial Insemination</option>
                </select>
            </div>
            
            <div class="mb-3" id = "div-add-entry-prod-gestating-date-insemination">
                <label for="txt-add-entry-prod-gestating-date-insemination" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Date Coupling or Insemination">Date Coupling or Insemination</label>
                <input type="text" class="form-control" id="txt-add-entry-prod-gestating-date-insemination" required>
                <div class="invalid-feedback">
                    Please enter date.
                </div>
            </div>
            
            
            <div class="mb-3" id = "div-add-entry-prod-gestating-boar">
                <div>
                    <label for="sel-add-entry-prod-gestating-boar" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Boar">Boar</label>
                    <span class="float-end"><span id = "span-add-entry-no-entries-boar">No entries yet. &nbsp; </span><a class="link-opacity-100" href="">Add new Boar Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select Boar" id = "sel-add-entry-prod-gestating-boar">
                  <option selected value="0">Select Boar</option>
                </select>
                <div class="invalid-feedback">
                    Please select a boar.
                </div>
                
            </div>
            
            <div class="mb-3" id = "div-add-entry-prod-gestating-ai-semen-source" style = "display:none">
                <div>
                    <label for="sel-add-entry-prod-gestating-ai-semen-source" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Semen Source">Semen Source</label>
                    <span class="float-end"><span id = "span-add-entry-no-entries-ai-semen-source">No entries yet. &nbsp; </span><a class="link-opacity-100" href="">Add new Semen Source Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select semen source" id = "sel-add-entry-prod-gestating-ai-semen-source">
                  <option selected value="0">Select Semen Source</option>
                </select>
            </div>
            
            <div class="mb-3" id = "div-add-entry-prod-gestating-ai-semen-cost" style = "display:none">
                <label for="txt-add-entry-prod-gestating-semen-cost" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Semen Cost">Semen Cost</label>
                <input type="text" class="form-control" id="txt-add-entry-prod-gestating-semen-cost" value="0.0">
                <div class="invalid-feedback">
                    Please enter numeric value.
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="txt-add-entry-prod-gestating-other-cost" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Insemination expenses">Other Cost</label>
                <input type="text" class="form-control" id="txt-add-entry-prod-gestating-other-cost" value="0.0">
                <div class="invalid-feedback">
                    Please enter numeric value.
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="txt-add-entry-prod-gestating-insem-notes" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Notes">Notes</label>
                <textarea class="form-control" rows="2" id="txt-add-entry-prod-gestating-insem-notes"></textarea>
                <div class="invalid-feedback">
                    <span class="float-end">Max 160</span>
                </div>
            </div>
            
            <div class="mb-3">
                <div>
                    <label for="sel-add-entry-prod-gestating-staff" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Staff name who administered boar coupling or artificial insemination">Staff</label>
                    <span class="float-end"><span id = "span-add-entry-no-entries-staff">No entries yet. &nbsp; </span><a class="link-opacity-100" href="">Add new Staff Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select Staff" id = "sel-add-entry-prod-gestating-staff" required>
                  <option value="0" selected>Select Staff</option>
                </select>
                <div class="invalid-feedback">
                    Please select a staff.
                </div>
            </div>
            
            
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id ="btn-save-add-prod-gestating-entry">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="div-update-entry-prod-gestating-insem" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="hdr-update-entry-prod-gestating">Update <b>Insemination</b> Entry P_ID: <span id ="span-update-gestating-pid"></span></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <div id = "div-info-prod-insem-cannot-update" class="alert alert-info d-flex align-items-center" role="alert" style="padding:5px; display:none">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>
                    Gestating info of a production entry that is already in <b>Lactating Stage</b> cannot be updated.
                </div>
            </div>
            
            <div class="mb-3">
                <div>
                    <label class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Sow" style="width:40%;">Sow:</label>
                    <span id ="span-update-entry-prod-gestating-sow" class=""></span>
                </div>
                
            </div>
            
            <div class="mb-3" >
                <label for="sel-update-entry-prod-gestating-insem-type" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Insemination Type">Insemination Type</label>
                <select class="form-select" aria-label="Select Insemination Type" id = "sel-update-entry-prod-gestating-insem-type">
                  <option value="insem-type-boar">Boar Coupling</option>
                  <option value="insem-type-ai">Artificial Insemination</option>
                </select>
            </div>
            
            <div class="mb-3" id = "div-update-entry-prod-gestating-date-insemination">
                <label for="txt-update-entry-prod-gestating-date-insemination" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Date Coupling or Insemination">Date Coupling or Insemination</label>
                <input type="text" class="form-control" id="txt-update-entry-prod-gestating-date-insemination" required>
                <p>If this date is changed, it will recompute all scheduled gestating operations for this entry.</p>
                <div class="invalid-feedback">
                    Please enter date.
                </div>
            </div>
            
            
            <div class="mb-3" id = "div-update-entry-prod-gestating-boar">
                <div>
                    <label for="sel-update-entry-prod-gestating-boar" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Boar">Boar</label>
                    <span class="float-end"><span id = "span-update-entry-no-entries-boar">No entries yet. &nbsp; </span><a id="a-update-entry-prod-gestating-add-new-boar" class="link-opacity-100" href="">Add new Boar Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select Boar" id = "sel-update-entry-prod-gestating-boar">
                  <option selected value="0">Select Boar</option>
                </select>
                <div class="invalid-feedback">
                    Please select a boar.
                </div>
                
            </div>
            
            <div class="mb-3" id = "div-update-entry-prod-gestating-ai-semen-source" style = "display:none">
                <div>
                    <label for="sel-update-entry-prod-gestating-ai-semen-source" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Semen Source">Semen Source</label>
                    <span class="float-end"><span id = "span-update-entry-no-entries-ai-semen-source">No entries yet. &nbsp; </span><a id="a-update-entry-prod-gestating-add-new-semen-source" class="link-opacity-100" href="">Add new Semen Source Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select semen source" id = "sel-update-entry-prod-gestating-ai-semen-source">
                  <option selected>Select Semen Source</option>
                </select>
            </div>
            
            <div class="mb-3" id = "div-update-entry-prod-gestating-ai-semen-cost" style = "display:none">
                <label for="txt-update-entry-prod-gestating-semen-cost" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Semen Cost">Semen Cost</label>
                <input type="text" class="form-control" id="txt-update-entry-prod-gestating-semen-cost">
                <div class="invalid-feedback">
                    Please enter numeric value.
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="txt-update-entry-prod-gestating-other-cost" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Insemination expenses">Other Cost</label>
                <input type="text" class="form-control" id="txt-update-entry-prod-gestating-other-cost">
                <div class="invalid-feedback">
                    Please enter numeric value.
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="txt-update-entry-prod-gestating-insem-notes" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Comments">Comments</label>
                <textarea class="form-control" rows="2"class="form-control" id="txt-update-entry-prod-gestating-insem-notes"></textarea>
                <div class="invalid-feedback">
                    <span class="float-end">Max 160</span>
                </div>
            </div>
            
            <div class="mb-3">
                <div>
                    <label for="sel-update-entry-prod-gestating-staff" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Staff name who administered boar coupling or artificial insemination">Staff</label>
                    <span class="float-end"><span id = "span-update-entry-no-entries-staff">No entries yet. &nbsp; </span><a id="a-update-entry-prod-gestating-add-new-staff" class="link-opacity-100" href="">Add new Staff Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select Staff" id = "sel-update-entry-prod-gestating-staff" required>
                  <option value="0" selected>Select Staff</option>
                </select>
                <div class="invalid-feedback">
                    Please select a staff.
                </div>
            </div>
            
            
          </div>
          
          <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="div-toast-save-update-prod-gestating-no-change" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <img src="" class="rounded me-2" alt="">
                  <strong class="me-auto">Bootstrap</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  No changes made.
                </div>
              </div>
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id = "btn-save-update-prod-gestating-entry-insem" >Save</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="div-update-entry-prod-gestating-birth" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="hdr-update-entry-prod-gestating">Update <b>Birth</b> Entry P_ID: <span id ="span-update-gestating-birth-pid"></span></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            
            <div class="alert alert-info d-flex align-items-center" role="alert" style="padding:5px;">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div id = "div-info-prod-gestating-birth">
                    Setting an <b>Date Actual Birth</b> of a Gestating production entry will update to Lactating production entry.
                </div>
            </div>
            
            <div class="mb-3">
                <div>
                    <label for="sel-update-entry-prod-gestating-sow" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Sow" style="width:40%;">Sow:</label>
                    <span id ="span-update-entry-prod-gestating-birth-sow" class=""></span>
                </div>
                
            </div>
            
            <div class="mb-3">
                <div>
                    <label for="sel-update-entry-prod-gestating-birth-date-expected" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Expected Date of Birth" style="width:40%;">Expected Date of Birth:</label>
                    <span id ="span-update-entry-prod-gestating-birth-date-expected" class=""></span>
                </div>
                
            </div>
            
            
            <div class="mb-3">
                <label for="txt-update-entry-prod-gestating-birth-date-birth" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Date Actual Birth" style="width:40%;">Date Actual Birth</label>
                <span id ="span-update-entry-prod-gestating-birth-num-days" class="" data-bs-toggle="tooltip" data-bs-placement="left" title="Number of days Gestation."></span>
                <input type="text" class="form-control" id="txt-update-entry-prod-gestating-birth-date-birth" required>
                <div class="invalid-feedback">
                    Please enter a valid date. <span id = "span-update-entry-birth-minimum-days" class="float-end" style="display:none">Minimum 110 days. </span>
                </div>
            </div>
            
            
            <div class="mb-3" >
                <div class="flex-container">
                    <div style="width:40%;padding-top:8px;"><label for="div-update-entry-prod-gestating-birth-num-dead" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Number Stillbirth/Dead Piglets">Number Stillbirth/Dead</label></div>
                    <div id="div-update-entry-prod-gestating-birth-num-dead"></div>
                </div>
            </div>
            
            <div class="mb-3" >
                <div class="flex-container">
                    <div style="width:40%;padding-top:8px;"><label for="div-update-entry-prod-gestating-birth-num-female" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Number of live Female Piglets">Live Female Piglets</label></div>
                    <div id="div-update-entry-prod-gestating-birth-num-female"></div>
                </div>
            </div>
            
            <div class="mb-3" >
                <div class="flex-container">
                    <div style="width:40%;padding-top:8px;"><label for="div-update-entry-prod-gestating-birth-num-male" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Number of live Male Piglets">Live Male Piglets</label></div>
                    <div id="div-update-entry-prod-gestating-birth-num-male"></div>
                </div>
            </div>
            
            
            <div class="mb-3">
                <div>
                    <label for="sel-update-entry-prod-gestating-birth-staff" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Staff name who administered boar coupling or artificial insemination">Birth Staff</label>
                    <span class="float-end"><span id = "span-update-entry-birth-no-entries-staff">No entries yet. &nbsp; </span><a class="link-opacity-100" href="">Add new Staff Entry</a></span>
                </div>
                <select class="form-select" aria-label="Select Staff" id = "sel-update-entry-prod-gestating-birth-staff" required>
                  <option value="0" selected>Select Staff</option>
                </select>
                <div class="invalid-feedback">
                    Please select a staff.
                </div>
            </div>
            
            
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"  id = "btn-save-update-prod-gestating-entry-birth">Save</button>
          </div>
        </div>
      </div>
    </div>
    

    <div id="div-container-update-entry-prod-gestating-ops"></div>
    
    
    <div id="div-update-entry-prod-gestating-status" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="hdr-update-entry-prod-lactating">Update <b>Status</b> Gestating Entry P_ID: <span id ="span-update-gestating-status-pid"></span></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            
            
            <div id = "div-info-prod-gestating-status" class="alert alert-warning d-flex align-items-center" role="alert" style="padding:5px">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    This is used in abnormal cases of hog gestation. Updating the production status to any of the status below 
                    will remove this entry from the production list and will be visible only in reports. <b>This cannot be undone.</b>
                </div>
            </div>
            
            <div class="mb-3">
                <div>
                    <label class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Sow" style="width:40%;">Sow:</label>
                    <span id ="span-update-entry-prod-gestating-status-sow" class=""></span>
                </div>
                
            </div>
            
            <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioProdStatus" id="prod-status-not-pregnant">
                  <label class="form-check-label" for="prod-status-not-pregnant" data-bs-toggle="tooltip" data-bs-placement="right" title="Just try again.">
                    Sow not pregnant. Sow reheat.
                  </label>
                </div>
                
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioProdStatus" id="prod-status-terminated">
                  <label class="form-check-label" for="prod-status-terminated" data-bs-toggle="tooltip" data-bs-placement="right" title="Sow will also be removed from sow list.">
                    Sow is Sold or Dead. 
                  </label>
                </div>
                
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioProdStatus" id="prod-status-no-live-piglets">
                  <label class="form-check-label" for="prod-status-no-live-piglets" data-bs-toggle="tooltip" data-bs-placement="right" title="No live piglets.">
                    Sow has given birth all mummified/dead piglets. 
                  </label>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="txt-update-entry-prod-gestating-status-notes" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Put some details what happened.">Notes</label>
                <textarea class="form-control" rows="3" id="txt-update-entry-prod-gestating-status-notes"></textarea>
                <div class="invalid-feedback">
                    <span class="float-end">Max 160</span>
                </div>
            </div>
            
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"  id = "btn-save-update-entry-prod-gestating-status">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div id="div-update-entry-prod-lactating-wean" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="hdr-update-entry-prod-lactating">Update <b>Wean</b> Lactating Entry P_ID: <span id ="span-update-lactating-wean-pid"></span></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            
            <div id = "div-info-prod-lactating-wean" class="alert alert-info" role="alert" style="padding:5px">
                Setting a weaning date of this Lactating production entry will update to Fattening production entry.
            </div>
            
            <div class="mb-3">
                <div>
                    <label for="sel-update-entry-prod-lactating-sow" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Sow" style="width:40%;">Sow:</label>
                    <span id ="span-update-entry-prod-lactating-wean-sow" class=""></span>
                </div>
                
            </div>
            
            <div class="mb-3">
                <div>
                    <label for="sel-update-entry-prod-lactating-wean-date-expected" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Expected Date Wean" style="width:40%;">Expected Date Wean:</label>
                    <span id ="span-update-entry-prod-lactating-wean-date-expected" class=""></span>
                </div>
                
            </div>
            
            
            <div class="mb-3">
                <label for="txt-update-entry-prod-lactating-wean-date-wean" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Date Actual Wean">Date Actual Wean</label>
                <input type="text" class="form-control" id="txt-update-entry-prod-lactating-wean-date-wean" required>
                <div class="invalid-feedback">
                    Please enter date.
                </div>
            </div>
            
                  
            <div class="mb-3" >
                <div class="flex-container">
                    <div style="width:40%;padding-top:8px;"><label for="div-update-entry-prod-lactating-wean-num-female" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Number of live Female Piglets">Live Female Piglets</label></div>
                    <div id="div-update-entry-prod-lactating-wean-num-female"></div>
                </div>
            </div>
            
            <div class="mb-3" >
                <div class="flex-container">
                    <div style="width:40%;padding-top:8px;"><label for="div-update-entry-prod-lactating-wean-num-male" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Number of live Male Piglets">Live Male Piglets</label></div>
                    <div id="div-update-entry-prod-lactating-wean-num-male"></div>
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="txt-update-entry-prod-lactating-wean-weigth" class="form-label" data-bs-toggle="tooltip" data-bs-placement="left" title="Total weight at wean">Total Weight at Wean</label>
                <input type="text" class="form-control" id="txt-update-entry-prod-lactating-wean-weigth">
                
            </div>
            
            
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"  id = "btn-save-update-entry-prod-lactating-wean">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="div-container-update-entry-prod-lactating-piglets-ops"></div>
    

    <div id="div-container-add-entry-notes"></div>
    
    
    <div id="div-container-add-entry-feed-buy"></div>
    
    <div id="div-container-add-entry-feed-balance"></div>
    
    <div id="div-container-add-entry-pig-dead"></div>
    
    <script type="text/javascript">
    $(document).ready(function(){
        var PAGE_DATA = {{page_data}};

        gPagePigProduction.setPageData(PAGE_DATA);
    });
    </script>

    
</div>

{% endblock %}